p{
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 1025px){
    .imagen{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
/* Para Moviles y Tablets */
@media (min-width: 320px) and (max-width: 1024px){
  .imagen,p{
      float: left;
  }
}